body {
  margin: 0;
  background-color: orange;
  font-family: sans-serif;
}
/*helpers */

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}
.hide {
  display: none;
}

table,
th,
td {
  margin: 10px;
  padding: 10px;
}

th,
td {
  border: 1px solid black;
}

/* media-queries */
/*mobile*/
@media (max-width: 840px) {
  body {
    background-color: green;
  }
}

/* tablet */
@media (min-width: 840px) {
  body {
    background-color: blue;
  }
}
/* desktop */
@media (min-width: 1100px) {
  body {
    background-color: burlywood;
  }
}
